<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>El autor de la página Quiz es Félix Mezo Gómez.</h1>
    <br>
    <div id="foto">
	    <img src="/images/yo.jpg" width="350" height="300">
  	</div>
  	<br>
    <p><a href="/">Vuelva al inicio</a></p>
  </body>
</html>